apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: vault-backend
          image: vault-backend:latest
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: backend-secrets
