apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: vault-frontend
          image: vault-frontend:latest

