apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: vault-backend
          image: 437670317444.dkr.ecr.eu-west-2.amazonaws.com/vault-app-repo-backend:${GITHUB_SHA}
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: backend-secrets
