apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: vault-frontend
          image: 437670317444.dkr.ecr.eu-west-2.amazonaws.com/vault-app-repo-frontend:${GITHUB_SHA}
          ports:
            - containerPort: 80

